<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let song of likedSongs">
      <img [src]="song.album.cover_small" />
      <ion-label>
        <h2>{{ song.title }}</h2>
        <ion-button (click)="playMusic(song.preview)">{{ (songUrl == song.preview && isPlaying) ? "Pause": "Play"}}</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
