<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button [routerLink]="['/settings']">
        <ion-icon src="assets/icon/settings.svg" ></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/radio']">
        <ion-icon src="assets/icon/radio.svg"></ion-icon>
        <ion-label>Radio</ion-label>
      </ion-item>
      <ion-item button (click)="openDownload()">
        <ion-icon src="assets/icon/download.svg"></ion-icon>
        <ion-label>Download</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/favorites']">
        <ion-icon src="assets/icon/favorites.svg"></ion-icon>
        <ion-label>Favorites</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title slot="start">
      Music App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <ion-item>
    <ion-searchbar [(ngModel)]="searchSong" placeholder="Search for music..."></ion-searchbar>
    <ion-button slot="end" class="circle-button" color="white" (click)="searchMusic()">
      <ion-icon src="assets/icon/search.svg"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let music of searchResults">
      <img [src]="music.album.cover_small" />
      <ion-label>
        <h2>{{ music.title }} ~ {{music.artist.name }}</h2>
        <ion-button color="white" (click)="playMusic(music.preview)">
          <ion-icon [src]="(songUrl == music.preview && isPlaying) ? 'assets/icon/pause.svg' : 'assets/icon/play.svg' "></ion-icon>
        </ion-button>
        <ion-button color="white" (click)="likeSong(music)">
          <ion-icon [src]="isLiked(music) ? 'assets/icon/unlike.svg' : 'assets/icon/like.svg' "></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-label>Mood: {{ Mood }}</ion-label>
    <ion-item *ngFor="let music of Music">
      <img [src]="music.album.cover_small" />
      <ion-label>
        <h2>{{ music.title }} ~ {{music.artist.name }}</h2>
        <ion-button color="white" (click)="playMusic(music.preview)">
          <ion-icon [src]="(songUrl == music.preview && isPlaying) ? 'assets/icon/pause.svg' : 'assets/icon/play.svg' "></ion-icon>
        </ion-button>
        <ion-button color="white" (click)="likeSong(music)">
          <ion-icon [src]="isLiked(music) ? 'assets/icon/unlike.svg' : 'assets/icon/like.svg' "></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
